server:
  port: 8080
  servlet:
    context-path: /api

spring:
  application:
    name: benchmark-spring-mvc
    datasource:
      url: jdbc:postgresql://projetbenchmarking-postgres-1:5432/benchmark
      username: postgres
      password: password

    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 10
      connection-timeout: 20000
      auto-commit: true
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
      hibernate.cache.use_second_level_cache: false
      hibernate.use_sql_comments: false
      hibernate.jdbc.batch_size: 20
      hibernate.order_inserts: true
      hibernate.order_updates: true

management:
  endpoints:
    web:
      exposure:
        include: prometheus,health
  prometheus:
    metrics:
      export:
        enabled: true
